[submodule "src/home_robot/home_robot/perception/detection/detic/Detic"]
	path = src/home_robot/home_robot/perception/detection/detic/Detic
	url = https://github.com/facebookresearch/Detic.git
[submodule "src/third_party/habitat-lab"]
	path = src/third_party/habitat-lab
	url = https://github.com/facebookresearch/habitat-lab
[submodule "src/home_robot/home_robot/agent/imagenav_agent/SuperGluePretrainedNetwork"]
	path = src/home_robot/home_robot/agent/imagenav_agent/SuperGluePretrainedNetwork
	url = https://github.com/mukulkhanna/SuperGluePretrainedNetwork.git
[submodule "src/third_party/detectron2"]
	path = src/third_party/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "src/third_party/contact_graspnet"]
	path = src/third_party/contact_graspnet
	url = https://github.com/cpaxton/contact_graspnet.git
[submodule "data/datasets/ovmm"]
	path = data/datasets/ovmm
	url = https://huggingface.co/datasets/ai-habitat/OVMM_episodes
[submodule "data/objects"]
	path = data/objects
	url = https://huggingface.co/datasets/ai-habitat/OVMM_objects
[submodule "data/hssd-hab"]
	path = data/hssd-hab
	url = https://huggingface.co/datasets/hssd/hssd-hab
[submodule "src/home_robot/home_robot/perception/detection/minigpt4/MiniGPT-4"]
	path = src/home_robot/home_robot/perception/detection/minigpt4/MiniGPT-4
	url = git@github.com:arjunmajum/MiniGPT-4.git
[submodule "spot-sim2real"]
	path = src/third_party/spot-sim2real
	url = git@github.com:jdvakil/spot-sim2real.git
	branch = no_habitat
[submodule "src/third_party/MiDaS"]
	path = src/third_party/MiDaS
	url = git@github.com:MatthewChang/MiDaS.git
[submodule "src/home_robot/home_robot/perception/detection/grounded_sam/Grounded-Segment-Anything"]
	path = src/home_robot/home_robot/perception/detection/grounded_sam/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything
[submodule "src/home_robot/home_robot/perception/minigpt4/MiniGPT-4"]
	path = src/home_robot/home_robot/perception/minigpt4/MiniGPT-4
	url = https://github.com/arjunmajum/MiniGPT-4.git
[submodule "src/home_robot/home_robot/perception/detection/minigpt4/cortex-minigpt4"]
	path = src/home_robot/home_robot/perception/detection/minigpt4/cortex-minigpt4
	url = https://huggingface.co/keke-220/cortex-minigpt4
[submodule "src/home_robot/home_robot/perception/detection/minigpt4/Llama-2-7b-chat-hf"]
	path = src/home_robot/home_robot/perception/detection/minigpt4/Llama-2-7b-chat-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-chat-hf
[submodule "src/third_party/spot-sim2real"]
	path = src/third_party/spot-sim2real
	url = git@github.com:Jdvakil/spot-sim2real.git
[submodule "src/home_robot/home_robot/perception/detection/minigpt4/src/home_robot/home_robot/perception/detection/minigpt4/Llama-2-7b-chat-hf"]
	path = src/home_robot/home_robot/perception/detection/minigpt4/src/home_robot/home_robot/perception/detection/minigpt4/Llama-2-7b-chat-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-chat-hf
