.idea
.DS_Store
.vscode
*.swp
*.swo
*.code-workspace
debug/
build/
dist/
.mypy_cache/
.pytest_cache/
__pycache__/
*.egg-info/
expts/
*.ipynb_checkpoints
example/*.ipynb_checkpoints
outputs/
examples/outputs/
theseus/extlib/*.so
temp/
docs_build/
viz/
datasets/
scene_datasets/
datadump/
*/datasets/
data/

# Archive files
*.pkl
*.zip

# Git stuff
*~HEAD

# Data types
*.h5
*.hdf5
*.mp4
*.glb
# used by habitat for object info
*.json
*.png
*.npz

# Detic model files
*.pth
*.ply

# Training stuff
projects/**/wandb
core
projects/**/multirun/**/**
projects/slap_manipulation/assets/**

# configs
projects/habitat_ovmm/configs/agent/generated/*
