.idea
.DS_Store
.vscode
*.swp
*.swn
*.swo
*.code-workspace
debug/
build/
dist/
.mypy_cache/
.pytest_cache/
__pycache__/
*.egg-info/
expts/
*.ipynb_checkpoints
example/*.ipynb_checkpoints
outputs/
examples/outputs/
theseus/extlib/*.so
temp/
docs_build/
viz/
datasets/
scene_datasets/
datadump/
*/datasets/
!/src/home_robot/home_robot/datasets
data/
/models/

# Archive files
*.pkl
*.pcd
*.zip

# Visualizations
*.ogv
*.pcd
*.PCD

# Git stuff
*~HEAD

# Data types
*.h5
*.hdf5
*.mp4
*.glb
# used by habitat for object info
*.json
*.png
*.jpg
*.jpeg
*.npz
*.pickle
data/**
data*/**
data/***
# Mesh files
*.stl
*.STL
*.mtl
*.navmesh
*.obj
*.dae
*.DAE

# Detic and other torch model files
*.pth
*.ply
*.pt

# Training stuff
projects/**/wandb
core
projects/**/multirun/**/**
projects/slap_manipulation/assets/**

# configs
projects/habitat_ovmm/configs/agent/generated/*

# Emacs
*~