clip: "ViT-B/32"

# Planner parameters
step_size: 0.25  # (originally .1, we can make it all the way to 2 maybe actually)
rotation_step_size: 0.5
visualize: False
exploration_steps: 10
shortcut_iter: 250

# Frontier search parameters
frontier_step_dist: 0.5
frontier_min_dist: 0.5

# Voxel map
obs_min_height: 0.1  # Originally .1, floor appears noisy in the 3d map of freemont so we're being super conservative
obs_max_height: 1.8  # Originally 1.8, spot is shorter than stretch tho
obs_min_density: 12  # Originally 10, making it bigger because theres a bunch on noise
voxel_size: 0.02
local_radius: 1.5  # Can probably be bigger than original (.15)
# 2d parameters
explore_methodical: True
max_explore_failures: 3
dilate_frontier_size: 22
dilate_obstacle_size: 2  # Value used in pittsburgh lab
# "dilate_obstacle_size": 5, # value from fremont
smooth_kernel_size: 5
# Frontier
min_size: 20  # Can probably be bigger than original (10)
max_size: 40  # Can probably be bigger than original (10)

# Trajectory execution
trajectory_pos_err_threshold: 0.5
trajectory_rot_err_threshold: 0.5

# Data collection and sensors
use_async_subscriber: False
write_data: True
use_zero_depth: False
use_midas: False

# Task setup
pick_categories: ["bottle", "cup"]
place_categories: ["chair", "sofa"]
use_get_close: False
best_view_metric: "area"
