version: 2.1

gpu: &gpu
  machine:
    image: linux-cuda-11:default
  resource_class: gpu.nvidia.medium
  environment:
    FPS_THRESHOLD: 900

commands:
  conda_env_setup:
    steps:
      - run:
          name: Install conda and dependencies
          no_output_timeout: 20m
          command: |
            if [ ! -d ~/miniconda ]
            then
              curl -o ~/miniconda.sh -O  https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
              chmod +x ~/miniconda.sh
              bash ~/miniconda.sh -b -p $HOME/miniconda
              rm ~/miniconda.sh
              export PATH=$HOME/miniconda/bin:/usr/local/cuda/bin:$PATH
            fi
            conda init bash
      - run:
          name: Install mamba
          command: conda install -y -n base -c conda-forge mamba
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "src/home_robot/environment.yml" }}
      - run:
          name: Setup env
          command: |
            [ -d ~/env_home_robot ] || mamba env create -f src/home_robot/environment.yml -p ~/env_home_robot
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "src/home_robot/environment.yml" }}
          paths:
            - "~/env_home_robot"

jobs:
  lint:
    working_directory: ~/home-robot
    resource_class: small
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          name: Running precommit checks
          command: |
            pip install pre-commit
            pre-commit install-hooks
            pre-commit run --all-files

  home_robot:
    <<: *gpu
    working_directory: ~/home-robot
    steps:
      - checkout
      - run: 
          name: Install system deps
          command: |
            sudo apt-get update || true
            sudo apt-get install -y --no-install-recommends \
                build-essential \
                git \
                curl \
                vim \
                ca-certificates \
                g++ \
                python-dev autotools-dev libicu-dev libbz2-dev \
                libboost-all-dev \
                unzip || true
      - conda_env_setup
      - run:
          name: Install libraries and run tests
          command: |
            conda activate ~/env_home_robot
            pip install -e src/home_robot
            cd tests/home_robot
            pytest .


  home_robot_sim:
    <<: *gpu
    working_directory: ~/home-robot
    steps:
      - checkout
      - run: 
          name: Install system deps
          command: |
            sudo apt-get update || true
            sudo apt-get install -y --no-install-recommends \
                build-essential \
                git \
                curl \
                vim \
                ca-certificates \
                libbullet-dev \
                libjpeg-dev \
                libglm-dev \
                libegl1-mesa-dev \
                xorg-dev \
                freeglut3-dev \
                pkg-config \
                wget \
                zip \
                libhdf5-dev \
                unzip || true
      - run:
          name: Sync submodules
          command: git submodule sync && git submodule update --init src/third_party/habitat-lab
      - conda_env_setup
      - run:
          name: Install home-robot-sim dependencies & download data
          command: |
            conda activate ~/env_home_robot
            mamba env update -f src/home_robot_sim/environment.yml
            pip install -e src/third_party/habitat-lab
            python -m habitat_sim.utils.datasets_download --uids mp3d_example_scene --data-path data/
            mkdir -p tests/home_robot_sim/data/scene_datasets/mp3d_example/mp3d
            mv data/scene_datasets/mp3d_example/17DRP5sb8fy tests/home_robot_sim/data/scene_datasets/mp3d_example/mp3d
      - run:
          name: Install libraries and run tests
          command: |
            conda activate ~/env_home_robot
            pip install -e src/home_robot
            pip install -e src/home_robot_sim
            cd tests/home_robot_sim
            pytest .

workflows:
  main:
    jobs:
      - lint
      - home_robot
      - home_robot_sim
