channels:
  - pytorch
  - pytorch3d
  - nvidia
  - conda-forge
  - pyg
dependencies:
  - python==3.9.*
  - cmake
  - pybind11
  - pytorch=1.13.1
  - pytorch-cuda=11.7
  - pytorch3d
  - torchvision
  - torchaudio
  - pyg
  - pytorch-cluster
  - pytorch-scatter
  - exa # optional: nice ls
  - fzf # optional: fancy ctrl + R
  - pip
  - pip:
    - numpy <1.24 # certain deprecated operations were used in other deps
    - scipy
    - sophuspy
    - pybullet
    - trimesh
    - pytest
    - scikit-image
    - scikit-fmm
    - scikit-learn
    - numpy-quaternion
    - natsort
    - frozendict
    # Robots
    - opencv-python
    - pin>=2.6.17
    # Neural networks
    - openai-clip
    - timm
    - pandas
    - mss
    # visualizations and debugging
    - matplotlib
    # Command line tools
    - click
    # data tools
    - atomicwrites
    - yacs
    - h5py
    - imageio
    - pygifsicle
    - pynput
    - git+https://github.com/openai/CLIP.git
    - open3d
    # For MiDaS
    - imutils
